In [1]:
# Imports/Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

import gmaps
import os
from scipy.stats import linregress
import scipy.stats as st

# Census API Key
# from config import (census_api_key, g_key)
import math as m

In [2]:
# Reads in csv files and drop unwanted columns
eruption_columns_to_be_removed = ['volcano_name' , 'area_of_activity' , 'latitude' , 'longitude']
eruption_data = pd.read_csv("eruptions.csv").drop(eruption_columns_to_be_removed, axis = 'columns')
edata = pd.read_csv("eruptions.csv")

# sulfur_data = pd.read_csv("sulfur.csv")
# tree_rings = pd.read_csv("tree_rings.csv")

In [3]:
volcano_columns_to_be_removed = ['last_eruption_year', 'region', 'subregion', 'major_rock_1' , 'major_rock_2' , 'major_rock_3' , 'major_rock_4' , 'major_rock_5', 'minor_rock_1', 'minor_rock_2', 'minor_rock_3', 'minor_rock_4', 'minor_rock_5']
volcano_data = pd.read_csv("volcano.csv").drop(volcano_columns_to_be_removed, axis = 'columns')

In [4]:
event_columns_to_be_removed = ['volcano_name' , 'eruption_start_year' , 'event_remarks' , 'event_date_year' , 'event_date_month' , 'event_date_day']
event_data = pd.read_csv("events.csv").drop(event_columns_to_be_removed, axis = 'columns')

In [74]:
vol_data = pd.read_csv("GVP_Volcano_List.csv", encoding='latin-1')

In [75]:
vol_data

,volcano_number,volcano_name,primary_volcano_type,country,latitude,longitude,elevation,tectonic_settings,evidence_category
0,210010,West Eifel Volcanic Field,Maar(s),Germany,50.170,6.850,600,Rift zone / Continental crust (>25 km),Eruption Dated
1,210020,Chaine des Puys,Lava dome(s),France,45.775,2.970,1464,Rift zone / Continental crust (>25 km),Eruption Dated
2,210030,Olot Volcanic Field,Pyroclastic cone(s),Spain,42.170,2.530,893,Intraplate / Continental crust (>25 km),Evidence Credible
3,210040,Calatrava Volcanic Field,Pyroclastic cone(s),Spain,38.870,-4.020,1117,Intraplate / Continental crust (>25 km),Eruption Dated
4,211003,Vulsini,Caldera,Italy,42.600,11.930,800,Subduction zone / Continental crust (>25 km),Eruption Observed
...,...,...,...,...,...,...,...,...,...
1408,390120,Leskov Island,Stratovolcano,United Kingdom,-56.656,-28.140,190,Subduction zone / Oceanic crust (< 15 km),Unrest / Holocene
1409,390130,Zavodovski,Stratovolcano,United Kingdom,-56.300,-27.570,551,Subduction zone / Oceanic crust (< 15 km),Eruption Observed
1410,390140,Protector Seamounts,Submarine,United Kingdom,-55.912,-28.167,-55,Subduction zone / Oceanic crust (< 15 km),Eruption Observed
1411,390829,James Ross Island,Shield,Antarctica,-64.150,-57.750,1630,Intraplate / Continental crust (>25 km),Evidence Credible
1412,390847,Melville,Stratovolcano,Antarctica,-62.020,-57.670,549,Intraplate / Continental crust (>25 km),Evidence Uncertain

In [76]:
vdnum = vol_data.volcano_number.unique()

In [77]:
print(vdnum)

[210010 210020 210030 ... 390140 390829 390847]

In [112]:

evd = pd.read_csv("events.csv")

In [17]:
missing = 311240

In [7]:
eruption_data
# Delete name, lat and long area of activity 
# note:vei has number and string/NaN values

,volcano_number,eruption_number,eruption_category,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day
0,266030,22354,Confirmed Eruption,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0
1,343100,22355,Confirmed Eruption,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0
2,233020,22343,Confirmed Eruption,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0
3,345020,22346,Confirmed Eruption,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0
4,353010,22347,Confirmed Eruption,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
11173,324020,21101,Confirmed Eruption,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN
11174,222161,22141,Confirmed Eruption,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN
11175,357121,22351,Confirmed Eruption,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11176,357121,22352,Confirmed Eruption,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11177,390090,21099,Confirmed Eruption,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# View rows with NaN values
eruption_data[eruption_data.isnull().any(axis=1)]

,volcano_number,eruption_number,eruption_category,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day
0,266030,22354,Confirmed Eruption,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0
1,343100,22355,Confirmed Eruption,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0
2,233020,22343,Confirmed Eruption,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0
3,345020,22346,Confirmed Eruption,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0
4,353010,22347,Confirmed Eruption,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
11173,324020,21101,Confirmed Eruption,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN
11174,222161,22141,Confirmed Eruption,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN
11175,357121,22351,Confirmed Eruption,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11176,357121,22352,Confirmed Eruption,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11177,390090,21099,Confirmed Eruption,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
vol_data=vol_data.loc[vol_data['volcano_number']!=234030]

In [103]:
edata = pd.read_csv("eruptions.csv")
event_data.loc[event_data['eruption_number']==10375]
# [600000, 323170, 281030, 358059, 281020]

     eruption_number  event_number event_type
221            10375        100303  Explosion

In [100]:
eruption_data=eruption_data.loc[eruption_data['volcano_number'] !=600000]
eruption_data=eruption_data.loc[eruption_data['volcano_number'] !=323170]
eruption_data=eruption_data.loc[eruption_data['volcano_number'] !=281030]
eruption_data=eruption_data.loc[eruption_data['volcano_number'] !=358059]
eruption_data=eruption_data.loc[eruption_data['volcano_number'] !=281020]
eruption_data=eruption_data.loc[eruption_data['eruption_number'] !=21100]

In [116]:
event_data=event_data.loc[event_data['volcano_number'] !=600000]
event_data=event_data.loc[event_data['volcano_number'] !=323170]
event_data=event_data.loc[event_data['volcano_number'] !=281030]
event_data=event_data.loc[event_data['volcano_number'] !=358059]
event_data=event_data.loc[event_data['volcano_number'] !=281020]

In [50]:
eruption_data.dtypes

volcano_number              int64
eruption_number             int64
eruption_category          object
vei                       float64
start_year                float64
start_month               float64
start_day                 float64
evidence_method_dating     object
end_year                  float64
end_month                 float64
end_day                   float64
dtype: object

In [51]:
# Changing NaN values to NoneType/Objects 
eruption_floats_to_objects = eruption_data.replace({np.nan: None})
eruption_floats_to_objects.dtypes

volcano_number             int64
eruption_number            int64
eruption_category         object
vei                       object
start_year                object
start_month               object
start_day                 object
evidence_method_dating    object
end_year                  object
end_month                 object
end_day                   object
dtype: object

In [52]:
# Exports final dataframe to csv for pgAdmin
eruption_floats_to_objects.to_csv('eruption_floats_to_objects.csv', index= False)

In [53]:
volcano_data
# Delete all rock types, region and subregion
# only need country

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,latitude,longitude,elevation,tectonic_settings,evidence_category,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,34.500,131.600,641,Subduction zone / Continental crust (>25 km),Eruption Dated,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),Evidence Credible,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),Eruption Observed,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,38.537,34.621,1683,Intraplate / Continental crust (>25 km),Eruption Dated,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,46.206,-121.490,3742,Subduction zone / Continental crust (>25 km),Eruption Dated,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,55.862,160.603,3057,Subduction zone / Continental crust (>25 km),Evidence Credible,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,19.400,-100.250,3500,Subduction zone / Continental crust (>25 km),Eruption Dated,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,15.050,42.180,191,Rift zone / Oceanic crust (< 15 km),Eruption Observed,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,14.020,42.750,624,Rift zone / Oceanic crust (< 15 km),Evidence Credible,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,34.800,-108.000,2550,Rift zone / Continental crust (>25 km),Eruption Dated,18,18,246,54738

In [51]:
san_miguel={'volcano_number': 343100,
            'volcano_name':"San Miguel",
            'primary_volcano_type':"Stratovolcano",
            'last_eruption_year':"2020",
            'country':"El Salvador",
            'latitude':13.434,
            'longitude':-88.269,
            'elevation':2130,
            'tectonic_settings':"Subduction zone / Continental crust (>25 km)",
            'evidence_category':"Eruption Observed",
            'population_within_5_km':1232,
            'population_within_10_km':63007,
            'population_within_30_km':79482,
            'population_within_100_km':36338885
           }

In [52]:
fernandina={'volcano_number': 353010,
            'volcano_name':"Fernandina",
            'primary_volcano_type':"Shield",
            'last_eruption_year':"2020",
            'country':"Ecuador",
            'latitude':-0.37,
            'longitude':-91.55,
            'elevation':1476,
            'tectonic_settings':"Rift zone / Oceanic crust (< 15 km)",
            'evidence_category':"Eruption Observed",
            'population_within_5_km':129,
            'population_within_10_km':129,
            'population_within_30_km':208,
            'population_within_100_km':1972
           }

In [53]:
nishinoshima={'volcano_number': 284096,
            'volcano_name':"Nishinoshima",
            'primary_volcano_type':"Caldera",
            'last_eruption_year':"2020",
            'country':"Japan",
            'latitude':27.247,
            'longitude':140.874,
            'elevation':25,
            'tectonic_settings':"Subduction zone / Crustal thickness unknown",
            'evidence_category':"Eruption Observed",
            'population_within_5_km':0,
            'population_within_10_km':0,
            'population_within_30_km':0,
            'population_within_100_km':0
           }

In [54]:
cleveland={'volcano_number': 311240,
            'volcano_name':"Cleveland",
            'primary_volcano_type':"Stratovolcano",
            'last_eruption_year':"2020",
            'country':"United States",
            'latitude':52.825,
            'longitude':-169.944,
            'elevation':1730,
            'tectonic_settings':"Subduction zone / Intermediate crust (15-25 km)",
            'evidence_category':"Eruption Observed",
            'population_within_5_km':0,
            'population_within_10_km':0,
            'population_within_30_km':0,
            'population_within_100_km':9
           }

In [55]:
lateki={'volcano_number': 243070,
            'volcano_name':"Lateki",
            'primary_volcano_type':"Submarine",
            'last_eruption_year':"2019",
            'country':"Tonga",
            'latitude':-19.18,
            'longitude':-174.87,
            'elevation':43,
            'tectonic_settings':"Subduction zone / Oceanic crust (< 15 km)",
            'evidence_category':"Eruption Observed",
            'population_within_5_km':18,
            'population_within_10_km':18,
            'population_within_30_km':18,
            'population_within_100_km':7907
           }

In [56]:
volcano_data=volcano_data.append(san_miguel, ignore_index= True)
volcano_data=volcano_data.append(fernandina, ignore_index= True)
volcano_data=volcano_data.append(nishinoshima, ignore_index= True)

In [57]:
volcano_data=volcano_data.append(cleveland, ignore_index= True)

In [58]:
volcano_data=volcano_data.append(lateki, ignore_index= True)

In [26]:
# Exports final dataframe to csv for pgAdmin
volcano_data.to_csv('volcano_data.csv', index= False)

In [15]:
volcano_data.dtypes

volcano_number                int64
volcano_name                 object
primary_volcano_type         object
last_eruption_year           object
country                      object
latitude                    float64
longitude                   float64
elevation                     int64
tectonic_settings            object
evidence_category            object
population_within_5_km        int64
population_within_10_km       int64
population_within_30_km       int64
population_within_100_km      int64
dtype: object

In [15]:
# Retype latitude and longitude columns to objects
volcano_data['latitude'] = volcano_data['latitude'].astype('object')
volcano_data['longitude'] = volcano_data['longitude'].astype('object')

In [16]:
volcano_data.dtypes

volcano_number               int64
volcano_name                object
primary_volcano_type        object
last_eruption_year          object
country                     object
latitude                    object
longitude                   object
elevation                    int64
tectonic_settings           object
evidence_category           object
population_within_5_km       int64
population_within_10_km      int64
population_within_30_km      int64
population_within_100_km     int64
dtype: object

In [17]:
volcano_data_floats_to_objects = volcano_data
volcano_data_floats_to_objects

# volcano_data_floats_to_objects.dtypes

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,latitude,longitude,elevation,tectonic_settings,evidence_category,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,34.5,131.6,641,Subduction zone / Continental crust (>25 km),Eruption Dated,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),Evidence Credible,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),Eruption Observed,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,38.537,34.621,1683,Intraplate / Continental crust (>25 km),Eruption Dated,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,46.206,-121.49,3742,Subduction zone / Continental crust (>25 km),Eruption Dated,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,55.862,160.603,3057,Subduction zone / Continental crust (>25 km),Evidence Credible,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,19.4,-100.25,3500,Subduction zone / Continental crust (>25 km),Eruption Dated,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,15.05,42.18,191,Rift zone / Oceanic crust (< 15 km),Eruption Observed,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,14.02,42.75,624,Rift zone / Oceanic crust (< 15 km),Evidence Credible,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,34.8,-108,2550,Rift zone / Continental crust (>25 km),Eruption Dated,18,18,246,54738

In [18]:
# Exports volcano_data_floats_to_objects to csv for pgAdmin
volcano_data_floats_to_objects.to_csv('volcano_data_floats_to_objects.csv', index= False)

In [102]:
event_data.head(10)
# Delete number, name, eruption start year 

# event info and eruption number

   eruption_number  event_number             event_type
0            10011        100001              Explosion
1            10011        100002                 Scoria
2            10011        100003       Pyroclastic flow
3            10011        100004           Lava flow(s)
4            10011        100005  Cinder cone formation
5            10011        100006                 Pumice
6            10012        100008              Explosion
7            10012        100009       Pyroclastic flow
8            10014        100019                 Flames
9            10015        100021      Phreatic activity

In [125]:
# View rows with NaN values
event_data.dtypes

eruption_number     int64
event_number        int64
event_type         object
dtype: object

In [124]:
event_data= event_data.drop('volcano_number', axis= 'columns')

In [126]:
# Exports final dataframe to csv for pgAdmin
event_data.to_csv('event_data.csv', index= False)

In [101]:
# Exports final dataframe to csv for pgAdmin
eruption_data.to_csv('eruption_data.csv', index= False)

In [99]:
# Exports final dataframe to csv for pgAdmin
vol_data.to_csv('volcano_data.csv', index= False)

In [59]:
vnum = volcano_data.volcano_number.unique()

In [60]:
print(len(vnum))

963

In [90]:
vnum2 = eruption_data.volcano_number.unique()

In [91]:
print(len(vnum2))

926

In [109]:
def Diff(li1, li2):
    return (list(set(li1)-set(li2)))
num3= Diff(vnum2, vdnum)
print(num3)

[]

In [79]:
print(len(num3))

5

In [117]:
enum = eruption_data.eruption_number.unique()

In [118]:
enum2 = event_data.eruption_number.unique()

In [114]:
evd.loc[evd['eruption_number']==16904]

,volcano_number,volcano_name,eruption_number,eruption_start_year,event_number,event_type,event_remarks,event_date_year,event_date_month,event_date_day
36153,281020,Unnamed,16904,1854,146911,VEI (Explosivity Index),NaN,1854.0,1.0,15.0

In [119]:
print(len(enum))

11094

In [120]:
print(len(enum2))

10680

In [121]:
enum3 = Diff(enum2, enum)
print(enum3)

[]